In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda2\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda2\lib\site-packages (from selenium) (1.26.4)

# Importing libraries

In [7]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1) . Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [8]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

In [141]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)

In [142]:
# creating empty list
rank=[]
name=[]
artist=[]
u_date=[]
views=[]

In [198]:
# scrapping details
# name
names=driver.find_elements_by_xpath("//a[@class='mw-redirect']")
for i in names:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append("--")
        
# rank        
ranks=driver.find_elements_by_xpath("//td[@align='center']/td[1]")
for i in ranks:
    try:
        rank.append(i.text)
    except NoSuchElementException:
        rank.append("--")
        
# artist        
artists=driver.find_elements_by_xpath("div[@class='mw-parser-output']")
for i in artists:
    try:
        artist.append(i.text)
    except NoSuchElementException:
        artist.append("--")
        
# upload date        
u_dates=driver.find_elements_by_xpath("//td[@align='right']")
for i in u_dates:
    try:
        u_date.append(i.text)
    except NoSuchElementException:
        u_date.append("--")
        
# views        
view=driver.find_elements_by_xpath("//td[@align='center'][1]")
for i in view:
    try:
        views.append(i.text)
    except NoSuchElementException:
        views.append("--")

In [205]:
# creating dataframe
yt=pd.DataFrame({})
yt['Name']=name
yt['Artist']=artist
yt['Upload Date']=u_date
yt['Views']=views

In [206]:
yt

,Name,Artist,Upload Date,Views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"October 8, 2016",[B]
1,Baby Shark Dance,Luis Fonsi,"January 30, 2017",2.
2,Cocomelon – Nursery Rhymes,LooLoo Kids - Nursery Rhymes and Children's Songs,"April 6, 2015",7.44
3,Cocomelon – Nursery Rhymes,Ed Sheeran,"January 31, 2012",[C]
4,Cocomelon – Nursery Rhymes,Wiz Khalifa,"May 2, 2018",3.
...,...,...,...,...
95,The Gummy Bear Song,ImagineDragons,"March 6, 2014",[U]
96,Osito Gominola – Full Spanish Version – The Gu...,Guns N' Roses,"January 14, 2015",22
97,Baby Shark Dance,zayn,"October 22, 2015",[142]
98,Closer,CNCO,"April 5, 2018",28
99,Cocomelon – Nursery Rhymes,Canal KondZilla,"September 5, 2013",[144]

# Q2) Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [97]:
url='https://www.bcci.tv/'
driver.get(url)

In [68]:
# clicking the International fixture page
intr=driver.find_element_by_link_text('INTERNATIONAL')
intr.click()

In [98]:
# creating empty list
odi=[]
series=[]
date=[]
time=[]
venue=[]

In [81]:
# scrappig details
# Match title
od=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']")
for i in od:
    try:
        odi.append(i.text)
    except NoSuchElementException:
        odi.append('--')

# series
ser=driver.find_elements_by_class_name('fixture__teams') 
for i in ser:
    try:
        series.append(i.text)
    except NoSuchElementException:
        series.append('--')
        
# Date        
dt=driver.find_elements_by_class_name('event-list__date js-date')
for i in dt:
    try:
        date.append(i.text)
    except NoSuchElementException:
        date.append('--')
        
#time        
tm=driver.find_elements_by_class_name('fixture__time')
for i in tm:
    try:
        time.append(i.text)
    except NoSuchElementException:
        time.append('--')

In [97]:
# creating data frame
fixtures=pd.DataFrame({})
fixtures['ODI TITLE']=odi
fixtures['SERIES']=series
fixtures['DATE(from 13 july 2021, to 10 sep 2021)']
fixtures['TIME']=time

In [98]:
fixtures

,ODI TITLE,SERIES,"DATE(from 13 july 2021, to 10 sep 2021)",TIME
0,"1st ODI\nR Premadasa Stadium, Colombo",SRI LANKA\nv\nINDIA,13,14:30 IST
1,"2nd ODI\nR Premadasa Stadium, Colombo",SRI LANKA\nv\nINDIA,16,14:30 IST
2,"3rd ODI\nR Premadasa Stadium, Colombo",SRI LANKA\nv\nINDIA,18,14:30 IST
3,"1st T20I\nR Premadasa Stadium, Colombo",SRI LANKA\nv\nINDIA,21,19:00 IST
4,"2nd T20I\nR Premadasa Stadium, Colombo",SRI LANKA\nv\nINDIA,23,19:00 IST
5,"3rd T20I\nR Premadasa Stadium, Colombo",SRI LANKA\nv\nINDIA,25,19:00 IST
6,"1st Test\nTrent Bridge, Nottingham",ENGLAND\nv\nINDIA,04,15:30 IST
7,"2nd Test\nLord's, London",ENGLAND\nv\nINDIA,12,15:30 IST
8,"3rd Test\nHeadingley, Leeds",ENGLAND\nv\nINDIA,25,15:30 IST
9,"4th Test\nThe Oval, London",ENGLAND\nv\nINDIA,02,15:30 IST

# Q3) Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [ ]:
driver.findElement(By.xpath("(//*[@class='weblinks'])[2]");

In [104]:
url='https://www.guru99.com/'
driver.get(url)

In [108]:
# Locating the searh bar
search=driver.find_element_by_id('gsc-i-id2')
search.send_keys('selenium exception handling')

In [105]:
# clicking
btn=driver.find_element_by_class_name('gsc-search-button gsc-search-button-v2')
btn.click()

In [105]:
# creating empty list
Name=[]
description=[]

In [111]:
#scrapping details
#name
names=driver.find_elements_by_xpath("//atrice[@class='article-info muted']/td[1]")
for i in names:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('--')
        
# description        
desc=driver.find_elements_by_xpath("//artice[@class='article-info muted']/td[2]")
for i in desc:
    try:
        description.append(i.text)
    except NoSuchElementException:
        description.append("--")

In [102]:
# creating dataframe
excep=pd.DataFrame({})
excep['Name']=Name
excep['Description']=description

In [103]:
excep

,Name,Description
0,ElementClickInterceptedException,TimeoutException: Thrown when there is not eno...
1,ElementNotInteractableException,UnableToCreateProfileException: You can open a...
2,ElementNotSelectableException,UnableToSetCookieException: This occurs if a d...
3,ElementNotVisibleException,UnexpectedAlertPresentException: This Selenium...
4,ImeActivationFailedException,UnexpectedTagNameException: Happens if a suppo...
5,ImeNotAvailableException,InvalidCookieDomainException: This happens whe...
6,InsecureCertificateException,InvalidCoordinatesException: This happens if t...
7,InvalidArgumentException,InvalidElementStateException: This Selenium ex...
8,InvalidCookieDomainException,InvalidSessionIdException: Takes place when th...
9,InvalidCoordinatesException,InvalidSwitchToTargetException: Happens if a f...
10,InvalidElementStateException,ElementClickInterceptedException: The command ...
11,InvalidSelectorException,ElementNotInteractableException: This Selenium...
12,InvalidSessionIdException,NoAlertPresentException: Happens when you swit...
13,InvalidSwitchToTargetException,NoSuchAttributeException: This occurs when we ...
14,JavascriptException,NoSuchContextException: Happens in mobile devi...
15,MoveTargetOutOfBoundsException,NoSuchCookieException: This exception gets thr...
16,NoAlertPresentException,NoSuchElementException: Happens if we can’t fi...
17,NoSuchAttributeException,NoSuchFrameException: Takes place if frame tar...
18,NoSuchCookieException,NoSuchWindowException: This occurs if the wind...
19,NoSuchElementException,NotFoundException: This exception is a subclas...

# Q4) Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [4]:
url='http://statisticstimes.com/'
driver.get(url)

In [6]:
# Clicking on Economy
ecn_btn=driver.find_element_by_link_text('Economy')
ecn_btn.click()

In [7]:
# creating empty list
rnk=[]
state=[]
gsdp_=[]
gsdp=[]
share=[]
gdp=[]

In [22]:
# scraping details
# rank
rk=driver.find_elements_by_xpath("//td[@class='data1']")
for i in rk:
    try:
        rnk.append(i.text)
    except NoSuchElementException:
        rnk.append("--")
        
#state        
st=driver.find_elements_by_xpath("//td[@class='name']")
for i in st:
    try:
        state.append(i.text)
    except NoSuchElementException:
        state.append("--")
        
#   GSDP at current price (19-20)        
gs=driver.find_elements_by_xpath("//tr[@class='row']/td/td/td")
for i in gs:
    try:
        gsdp_.append(i.text)
    except NoSuchElementException:
        gsdp_.append("--")
        
#  GSDP at current price (18-29)         
gp=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in gp:
    try:
        gsdp.append(i.text)
    except NoSuchElementException:
        gsdp.append("--")
    

 # share   
shr=driver.find_elements_by_xpath("//table[@class='display dataTable']/tr/td/td/td/td/td")
for i in shr:
    try:
        share.append(i.text)
    except NoSuchElementException:
        share.append("--")
        
#gdp        
gd=driver.find_elements_by_xpath("//td[@class='data']")
for i in gd:
    try:
        gdp.append(i.text)
    except NoSuchElementException:
        gdp.append("--")

In [38]:
# creating data frame
India=pd.DataFrame({})
India['Rank']=rnk
India['State']=state
India['GSDP at current price (19-20']=gsdp_
India['GSDP at current price (18-19)']=gsdp
India['Share(18-19) ']=share
India['GDP($ billion)']=gdp

In [39]:
India

,Rank,State,GSDP at current price (19-20,GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,"375,651","2,632,792",-,4.363
1,2,Tamil Nadu,"574,760","1,630,208",13.94%,"20,017"
2,3,Uttar Pradesh,2.79%,"1,584,764",399.921,"18,722"
3,4,Gujarat,79.957,"1,502,899",-,"31,790"
4,5,Karnataka,"418,868","1,493,127","2,039,074",0.15%
...,...,...,...,...,...,...
63,30,Nagaland,5.086,"22,488","572,240",4.68%
64,31,Arunachal Pradesh,"26,695","20,947","531,085","594,806"
65,32,Mizoram,"24,682",-,"611,804","549,481"
66,33,Andaman & Nicobar Islands,"32,496","2,632,792",2.81%,"875,429"
67,,India,0.15%,"1,630,208",80.562,4.65%

# Q5) Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [71]:
url='https://github.com/'
driver.get(url)

In [74]:
# clicking on explore button
exp_btn=driver.find_element_by_link_text("Explore")
exp_btn.click()

In [76]:
# clicking on trending
t_btn=driver.find_element_by_link_text("Trending")
t_btn.click()

In [77]:
# creating empty list
title=[]
descr=[]
count=[]
lang=[]

In [78]:
#scrapping detail
# repository title
titles=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for i in titles:
    try:
        title.append(i.text)
    except NoSuchElementException:
        title.append('--')
        
# repository description        
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in desc:
    try:
        descr.append(i.text)
    except NoSuchElementException:
        descr.append('--')
        
# count
counts=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
for i in counts:
    try:
        count.append(i.text)
    except NoSuchElementException:
        couunt.append('--')
# Language        
lan=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
for i in lan:
    try:
        lang.append(i.text)
    except NoSuchElementException:
        lang.append('-')

In [95]:
# creating dataframe
github=pd.DataFrame({})
github['Repository Title']=title
github['Repository Description']=descr
github['Count']=count
github['Language']=lang

In [96]:
github

,Repository Title,Repository Description,Count,Language
0,spring-projects / spring-graphql,Spring integration for GraphQL,479,Java
1,madMAx43v3r / chia-plotter,Headless Chrome Node.js API,38,C
2,puppeteer / puppeteer,"Record CS knowlegement with XMind, version 2.0...","2,021",TypeScript
3,SmartKeyerror / Psyduck,Audio Editor,616,Go
4,Sneeds-Feed-and-Seed / sneedacity,Source for fully featured AAA Open 3D Engine,"71,861",C
5,o3de / o3de,📚 Freely available programming books,"7,563",C++
6,EbookFoundation / free-programming-books,A CSS course to turn you into a magician.,"2,568",CSS
7,adamschwartz / magic-of-css,Logger and network inspector for Apple platforms,229,Swift
8,kean / Pulse,A collective list of free APIs,688,Python
9,public-apis / public-apis,🤓 Build your own (insert technology here),62,Go
10,danistefanovic / build-your-own-x,Easy and fast file sharing from the command-line.,"2,509",Python
11,dutchcoders / transfer.sh,YOLOv5 🚀 in PyTorch > ONNX > CoreML > TFLite,480,Objective-C
12,ultralytics / yolov5,Firebase iOS SDK,"195,559",TypeScript
13,firebase / firebase-ios-sdk,A comprehensive Spark guide collated from mult...,"43,159",Swift
14,ankurchavda / SparkLearning,The modern web developer’s platform,"5,387",Java
15,angular / angular,Simple in-app purchases and subscriptions for ...,327,Python
16,ninechapter-algorithm / linghu-algorithm-templete,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,"2,722",Objective-C
17,RevenueCat / purchases-ios,A list of useful payloads and bypass for Web A...,81,Python
18,Snailclimb / JavaGuide,Mac微信功能拓展/微信插件/微信小助手(A plugin for Mac WeChat),"137,939",HTML
19,swisskyrepo / PayloadsAllTheThings,Reference python implementation of Chia pool o...,"16,313",JavaScript
20,MustangYM / WeChatExtension-ForMac,"A list of SaaS, PaaS and IaaS offerings that h...","111,830",JavaScript

# Q6) 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [64]:
url='https://www.billboard.com/'
driver.get(url)

In [68]:
# clicking on chart option
chrt=driver.find_element_by_link_text('CHARTS')
chrt.click()

In [70]:
# clicking on THE HOT 100
ht=driver.find_element_by_link_text('Hot 100')
ht.click()

In [76]:
# creating empty list
song=[]
artist=[]
last=[]
peak=[]
note=[]

In [98]:
# Scrapping deatails

#song name
songs=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in songs:
    try:
        song.append(i.text)
    except NoSuchElementException:
        song.append('--')
#artist name        
artists=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artists:
    try:
        artist.append(i.text)
    except NoSuchElementException:
        artist.append('--')
        
# last week rank        
lasts=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lasts:
    try:
        last.append(i.text)
    except NoSuchElementException:
        last.append('--')
        
#weaks on board      
notes=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in notes:
    try:
        note.append(i.text)
    except NoSuchElementException:
        note.append('--')
        
# peak rank        
peaks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peaks:
    try:
        peak.append(i.text)
    except NoSuchElementException:
        peak.append('--')

In [99]:
#creating dataframe
details=pd.DataFrame({})
details['SONG NAME']=song
details['ARTIST NAME']=artist
details['LAST WEEK RANK']=last
details['PEAK RANK']=peak
details['WEEKS ON BOARD NOTES']=note

In [101]:
details

,SONG NAME,ARTIST NAME,LAST WEEK RANK,PEAK RANK,WEEKS ON BOARD NOTES
0,Butter\nBTS,BTS,1,1,6
1,Good 4 U\nOlivia Rodrigo,Olivia Rodrigo,2,1,7
2,Kiss Me More\nDoja Cat Featuring SZA,Doja Cat Featuring SZA,4,3,12
3,Levitating\nDua Lipa Featuring DaBaby,Dua Lipa Featuring DaBaby,3,2,39
4,Bad Habits\nEd Sheeran,Ed Sheeran,-,5,1
...,...,...,...,...,...
95,Twerkulator\nCity Girls,City Girls,96,51,4
96,Tombstone\nRod Wave,Rod Wave,83,11,14
97,Miss The Rage\nTrippie Redd & Playboi Carti,Trippie Redd & Playboi Carti,82,11,8
98,"Rise!\nTyler, The Creator Featuring Daisy World","Tyler, The Creator Featuring Daisy World",-,99,1
99,Working\nTate McRae X Khalid,Tate McRae X Khalid,94,94,2

# Q7) Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [230]:
url='https://www.naukri.com/'
driver.get(url)

In [146]:
# clicking on recruiters option
rec=driver.find_element_by_link_text('RECRUITERS')
rec.click()

In [126]:
# Loacting search bar for data science
ds=driver.find_element_by_class_name('sugInp')
ds.send_keys('Data Science')

In [129]:
# clicking on search bar
btn=driver.find_element_by_class_name('btn')
btn.click()

In [143]:
# creating empty list
nme=[]
desg=[]
comp=[]
skill=[]
loca=[]

In [157]:
# second url
driver.get('https://www.naukri.com/data-science-recruiters')

In [231]:
# scrapping details
#name
name=driver.find_elements_by_xpath("//div[@class='recInfo']/span")
for i in name:
    try:
        nme.append(i.text)
    except NoSuchElementException:
        nme.append('--')
        
# designantion        
desgn=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desgn:
    try:
        desg.append(i.text)
    except NoSuchElementException:
        desg.append('--')
        
# company
compa=driver.find_elements_by_xpath("//p[@class='highlightable']/a")
for i in compa:
    try:
        comp.append(i.text)
    except NoSuchElementException:
        comp.append('--')
#skills        
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    try:
        skill.append(i.text)
    except NoSuchElementException:
        skill.append('--')
        
# Location        
location=driver.find_elements_by_xpath("//div[@class='vcard']")
for i in location:
    try:
        loca.append(i.text)
    except NoSuchElementException:
        loca.append('--')

In [246]:
# creating dataframe
job=pd.DataFrame({})
job['Name']=nme
job['Designation']=desg
job['Skills']=skill
job['Company']=comp
job['Location']=loca

In [247]:
job

,Name,Designation,Skills,Company,Location
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",QuantMagnum Technologies Pvt. Ltd.,Bangalore/Bengaluru
1,Data Science Network,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Ruchi Dhote,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,shravan Kumar Gaddam,Company HR,"Data Science, Artificial Intelligence, Machine...",Bristlecone India Ltd,Bangalore/Bengaluru
3,Shore Infotech India Pvt. Ltd,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Mahesh Babu Channa,Bangalore/Bengaluru
4,MARSIAN Technologies LLP,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",SocialPrachar.com,"Noida, Bangalore/Bengaluru, Delhi / NCR"
5,MARSIAN Technologies LLP,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Kapil Devang,"Mumbai, Navi Mumbai, Mumbai (All Areas)"
6,Anik Agrawal,Programme Manager,Data Science,BISP Solutions,Hyderabad/Secunderabad
7,Enerlytics Software Solutions Pvt Ltd,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Manisha Yadav,Mumbai
8,subhas patel,Director,"Technical Training, Software Development, Pres...",Easi Tax,Bangalore/Bengaluru
9,LibraryXProject,Human Resource,"Software Development, It Sales, Account Manage...",Riya Rajesh,Bangalore/Bengaluru\n(WFH during Covid)
10,Abhishek - Only Analytics Hiring - India and,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Novelworx Digital Solutions,Noida
11,Apidel Technologies Division of Transpower,Company HR,"Business Intelligence, Data Warehousing, Data ...",Rashmi Bhattacharjee,Bangalore/Bengaluru
12,Institute for Financial Management and Resear,Company HR,"Office Administration, Hr Administration, tele...",AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,India
13,IFMR,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Faizan Kareem,Bhopal
14,Balu Ramesh,HR Team Lead,"Social Media, digital media maketing, seo, smm...",FirstTech Consaltants Pvt.Ltd,Pune
15,Techvantage Systems Pvt Ltd,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",Rithika dadwal,Panchkula
16,Asif Lucknowi,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Affine Analytics,"Mangaluru/Mangalore, Mangalore"
17,Weupskill- Live Wire India,Manager Talent Acquisition,Data Science,Azahar Shaikh,Bangalore/Bengaluru
18,InstaFinancials,HR Head,"Corporate Sales, Software Development, Softwar...",NEAL ANALYTICS SERVICES PVT LTD,"Mumbai, Bangalore/Bengaluru"
19,CBL Data Science Private Limited,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",Sandhya Khandagale,Bangalore/Bengaluru

# Q8) 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [309]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [313]:
# creating empty list
book=[]
author=[]
volume=[]
publisher=[]
genre=[]

In [314]:
# scrapping details
#book name
books=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in books:
    try:
        book.append(i.text)
    except NoSuchElementException:
        book.append('--')
        
#author name        
authors=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in authors:
    try:
        author.append(i.text)
    except NoSuchElementException:
        author.append('--')
        
# volume sold        
volumes=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes:
    try:
        volume.append(i.text)
    except NoSuchElementException:
        volume.append('--')
        
# publisher        
pub=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in pub:
    try:
        publisher.append(i.text)
    except NoSuchElementException:
        publisher.append('--')
# genre        
gen=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in gen:
    try:
        genre.append(i.text)
    except NoSuchElementException:
        genre.append('--')

In [315]:
# creating dataframe
book=pd.DataFrame({})
book['Book Name']=book
book['Author Name']=author
book['Volumes Sold']=volume
book['Publishers']=publisher
book['Genre']=genre

In [316]:
book

,Book Name,Author Name,Volumes Sold,Publishers,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#  Q9) 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [4]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [5]:
# creating empty list
nm=[]
year=[]
gen=[]
run=[]
rate=[]
vote=[]

In [38]:
# scrapping deatil
#name
nme=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in nme:
    try:
        nm.append(i.text)
    except NoSuchElementException:
        nm.append("--")
#years        
years=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in years:
    try:
        year.append(i.text)
    except NoSuchElementException:
        year.append("--")
        
# Genre        
genr=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genr:
    try:
        gen.append(i.text)
    except NoSuchElementException:
        gen.append("--")
        
# Run time        
runn=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in runn:
    try:
        run.append(i.text)
    except NoSuchElementException:
        run.append("--")
        
#ratings        
rat=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in rat:
    try:
        rate.append(i.text)
    except NoSuchElementException:
        rate.append("--")
        
        
#votes
vt=driver.find_elements_by_xpath("//span[@name='nv']")
for i in vt:
    try:
        vote.append(i.text)
    except NoSuchElementException:
        vote.append("--")

In [50]:
# creating data frame
imdb=pd.DataFrame({})
imdb['Name']=nm
imdb['Year Span']=year
imdb['Genre']=gen
imdb['Run Time']=run
imdb['Ratings']=ra
imdb['Votes']=vote

In [51]:
imdb

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,833,208"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"872,072"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"878,357"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"263,917"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,480"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,762"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,338"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"169,207"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,086"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,037"

# Q10) 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [9]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [10]:
# clicking on show all dataset
data=driver.find_element_by_link_text('View ALL Data Sets')
data.click()

In [130]:
# creating empty list
d_name=[]
d_typ=[]
tsk=[]
attr=[]
nii=[]
naa=[]

In [135]:
# scrapping details
# dataset name
dn=driver.find_elements_by_xpath(("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a"))
for i in dn:
    try:
        d_name.append(i.text)
    except NoSuchElementException:
        d_name.appen("--")
        
# dataset type        
dt=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in dt:
    try:
        d_typ.append(i.text)
    except NoSuchElementException:
        d_typ.append("--")
        
 # task       
tasks=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in tasks:
    try:
        tsk.append(i.text)
    except NoSuchElementException:
        tsk.append("--")
        
#attribute type        
at=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in at:
    try:
        attr.append(i.text)
    except NoSuchElementException:
        attr.append("--")
        
# no of instances        
ni=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in ni:
    try:
        nii.append(i.text)
    except NoSuchElementException:
        nii.append("--")
        
# no of attributes        
na=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in na:
    try:
        naa.append(i.text)
    except NoSuchElementException:
        naa.append("--")

In [140]:
# year
yers=[]
yr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in yr:
    try:
        yers.append(i.text)
    except NoSuchElementException:
        yers.append("--")

In [141]:
# creating dataframe
uci=pd.DataFrame({})
uci['Dataset Name']=d_name
uci['Dataset Type']=d_typ
uci['Task']=tsk
uci['Attribute Type']=attr
uci['No of Instances']=nii
uci['No of Attributes']=naa
uci['Year']=yers

In [142]:
uci

,Dataset Name,Dataset Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Abalone,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Arrhythmia,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,Multivariate,Classification,,7624,7842,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Text",Classification,,26737,4,2020
582,Dry Bean Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,"Integer, Real",13611,17,2020
584,Gait Classification,Multivariate,Classification,,12684,23,2020